<div class="card-panel hoverable">
    <div class="row">
        <form class=" newEvent col s12" action="/events" method="post">
            <div class="row">
                <div class="input-field col s6">
                    <input id="eventName" type="text" name="eventName" class="validate" placeholder="Event Name"/>
                </div>
                <div class="eventDateTime col s3">
                    <label>Event Date </label>
                    <input id="date" type="date" name="date" class="validate" />

                </div>
                <div class="time col s3" >
                  <label> Event Time </label>
                  <input type="time" name="time" />
                </div>
            </div>
            <div class="row">
                <div class="eventDuration col s12">
                    <label> Event Duration(mins) </label>
                    <select class="browser-default" name="duration">
                      <option value="10">10</option>
                      <option value="30">30</option>
                      <option value="60">60</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="eventDescription col s6">
                  <label>Event Description</label>
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea type="text" name="description" class="materialize-textarea"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-sm btn-primary text-center" id="save-button">Save Event</button>
        </form>
    </div>
</div>